html {
  background-color: rgb(225, 225, 225);
}

header {
  background-color: rgb(150, 150, 150);
}

nav:hover ul {
  display: block;
}

main {
  background-color: rgb(240, 240, 240);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}